layout {
    pane size=1 split_direction="vertical" {
        pane borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane size=15 borderless=true {
            plugin location="file:target/wasm32-wasip1/debug/zellij-idle.wasm" {
                idle_timeout_secs "30"
                countdown_secs "15"
                suspend_action "none"
            }
        }
    }
    pane
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
